.profile__avatar-btn {
	background-image: url(./images/edit.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 50%;
	height: 120px;
	opacity: 0;
	position: absolute;
	transition: .8s ease;
	width: 120px;
}
