.profile__button_act_edit {
	width: 24px;
	height: 24px;
	background-image: url('../../../../images/edit.svg');
	background-size: 28px;
	border: 1px solid #fff;
	grid-area: buttonEdit;

}
.profile__button_act_edit:hover {
	opacity: .6;
	transition: .3s ease;
}

@media screen and (max-width: 535px) {
	.profile__button_act_edit {
		width: 18px;
		height: 18px;
		background-size: 17.5px;
		border: none;
	}
}
