.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: visibility 0.3s, opacity 0.3s ease-in;
	justify-content: center;
    align-items: center;
	flex-direction: column;
}
@media screen and (max-width:500px) {
	.popup{
	max-width: 282px;
    padding-left: 19px;
    padding-right: 19px;
    justify-content: flex-start;
    padding-top: 125px;
	}
}